[Unit]
Description=Parser
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/kndbot
ExecStart=/usr/bin/python3.7 /home/kndbot/main.py reg
ExecStop=/bin/kill python3.7
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target