{% extends "layout/basic.html" %}
{% block name %}Главная{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>
<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-auto">
      <canvas id='kndcanvas' width="500" height="200"></canvas>
    </div>
    <div class="col-md-auto align-self-end">
      <canvas id='dipcanvas' width="500" height="200"></canvas>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-auto align-self-center  ">
      <canvas id='mkdcanvas' width="1000" height="200"></canvas>
    </div>
  </div>
</div>
{{ listdate }}
{% for i in dip %}
{{ listdate.append(i.date) }}
{% endfor %}
{% regroup dip by dip.date as dipdate %}
{% regroup dip by dip.complete as dipcompele %}
<script type="text/javascript">
  var ctx = document.getElementById('kndcanvas');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ listdate }},
        datasets: [{
            label: 'Осмотр дворовых территорий',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}
